accessibility.jpg
[{"id":"bad6a33e.8d42f8","type":"exec","z":"e05813a1.771308","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"getCPUtemp","x":510,"y":109,"wires":[["a0b70a55.7b73e8","733e476a.50aaf8","ad28e518.42c8d8"],[],[]]},{"id":"733e476a.50aaf8","type":"debug","z":"e05813a1.771308","name":"","active":true,"console":"false","complete":"false","x":758,"y":104,"wires":[]},{"id":"a0b70a55.7b73e8","type":"function","z":"e05813a1.771308","name":"msg.payload","func":"msg.payload = \"CPU temp is \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":655,"y":252.5,"wires":[["733e476a.50aaf8","47f98a9e.ab0534"]]},{"id":"47f98a9e.ab0534","type":"wiotp out","z":"e05813a1.771308","authType":"d","qs":"true","qsDeviceId":"47f98a9e.ab0534","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"event","x":933,"y":223,"wires":[]},{"id":"ad28e518.42c8d8","type":"function","z":"e05813a1.771308","name":"temp text","func":"msg.payload = \"Welcome to Bravado Motorsport\"\n               ;\nreturn msg;","outputs":1,"noerr":0,"x":425.54547119140625,"y":347.86370849609375,"wires":[["eeb3cbce.4831c"]]},{"id":"67439c39.e72dfc","type":"function","z":"e05813a1.771308","name":"format speech","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":818.272705078125,"y":328.0454406738281,"wires":[["613930fe.6ee088","f6dc6776.10987"]]},{"id":"613930fe.6ee088","type":"file","z":"e05813a1.771308","name":"create wav","filename":"/home/pi/temp/speech.wav","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1175,"y":429.5,"wires":[]},{"id":"f6dc6776.10987","type":"delay","z":"e05813a1.771308","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":739.818115234375,"y":413.2272644042969,"wires":[["ed573683.5f964"]]},{"id":"ed573683.5f964","type":"file in","z":"e05813a1.771308","name":"read wav","filename":"/home/pi/temp/speech.wav","format":"","x":813.5454711914062,"y":482.04547119140625,"wires":[["8f752070.886cb"]]},{"id":"8f752070.886cb","type":"exec","z":"e05813a1.771308","command":"aplay /home/pi/temp/speech.wav","addpay":false,"append":"","useSpawn":"","timer":"","name":"play audio","x":997.727294921875,"y":530.2726440429688,"wires":[[],[],[]]},{"id":"88aceea2.e2c1b8","type":"rpi-gpio out","z":"e05813a1.771308","name":"led ","pin":"7","set":"","level":"0","out":"out","x":248.45452880859375,"y":562.181884765625,"wires":[]},{"id":"a09c2617.088f38","type":"function","z":"e05813a1.771308","name":"temp text","func":"msg.payload = \"Bravado Motorsport Signing Off\"\n               ;\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":635.5,"wires":[["6e812ed1.ebbdc"]]},{"id":"d76df1c.8bf251","type":"function","z":"e05813a1.771308","name":"format speech","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":663.5,"wires":[["40d6bdc8.852b24","a1be6050.2aace"]]},{"id":"40d6bdc8.852b24","type":"file","z":"e05813a1.771308","name":"create wav","filename":"/home/pi/temp/speech.wav","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1116,"y":755.5,"wires":[]},{"id":"a1be6050.2aace","type":"delay","z":"e05813a1.771308","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":637,"y":765.5,"wires":[["39ee356d.7c2d72"]]},{"id":"39ee356d.7c2d72","type":"file in","z":"e05813a1.771308","name":"read wav","filename":"/home/pi/temp/speech.wav","format":"","x":794,"y":764.5,"wires":[["720119a4.2e735"]]},{"id":"720119a4.2e735","type":"exec","z":"e05813a1.771308","command":"aplay /home/pi/temp/speech.wav","addpay":false,"append":"","useSpawn":"","timer":"","name":"play audio","x":961,"y":843,"wires":[[],[],[]]},{"id":"ea3269d4.4ae6d","type":"inject","z":"e05813a1.771308","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":165,"y":957.5,"wires":[["f83c6326.417908"]]},{"id":"80c7648e.345b7","type":"debug","z":"e05813a1.771308","name":"","active":true,"console":"false","complete":"false","x":644,"y":1020,"wires":[]},{"id":"f83c6326.417908","type":"function","z":"e05813a1.771308","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":968.5,"wires":[["b40a8450.ad594"]]},{"id":"8296b63b.22d11","type":"ui_button","z":"e05813a1.771308","name":"Start","group":"c77a225b.db4e38","order":0,"width":0,"height":0,"passthru":false,"label":"Start","color":"green","bgcolor":"white","icon":"","payload":"1","payloadType":"num","topic":"","x":116.3636474609375,"y":490.31817626953125,"wires":[["88aceea2.e2c1b8","ad28e518.42c8d8","5a2ca07.d3fe16"]]},{"id":"2b8d6ae1.0352c6","type":"ui_button","z":"e05813a1.771308","name":"Stop","group":"c77a225b.db4e38","order":0,"width":0,"height":0,"passthru":false,"label":"Stop","color":"red","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":106.99998474121094,"y":617.5909423828125,"wires":[["88aceea2.e2c1b8","a09c2617.088f38"]]},{"id":"eeb3cbce.4831c","type":"watson-text-to-speech","z":"e05813a1.771308","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"YDkPMVtch5Cu","payload-response":true,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":607,"y":346,"wires":[["67439c39.e72dfc"]]},{"id":"b40a8450.ad594","type":"watson-text-to-speech","z":"e05813a1.771308","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"YDkPMVtch5Cu","payload-response":true,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":486,"y":973,"wires":[["80c7648e.345b7"]]},{"id":"6e812ed1.ebbdc","type":"watson-text-to-speech","z":"e05813a1.771308","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"YDkPMVtch5Cu","payload-response":true,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":496,"y":578,"wires":[["d76df1c.8bf251"]]},{"id":"5a2ca07.d3fe16","type":"camerapi-takephoto","z":"e05813a1.771308","filemode":"1","filename":"output.jpeg","filedefpath":"1","filepath":"/home/pi/Pictures","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":438,"y":413,"wires":[["365d519a.a2d9f6"]]},{"id":"365d519a.a2d9f6","type":"exec","z":"e05813a1.771308","command":"python rpicamera.py","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"mail","x":619,"y":480.5,"wires":[[],[],[]]},{"id":"c77a225b.db4e38","type":"ui_group","z":0,"name":"Vehicle","tab":"ca99c1d5.9d897","disp":true,"width":"5"},{"id":"ca99c1d5.9d897","type":"ui_tab","z":0,"name":"Home","icon":"dashboard"}]