emergencyv2v.jpg
[{"id":"4742f513.659cbc","type":"mqtt out","z":"b3b9e502.ed87e8","name":"MQTT-gps1","topic":"gps1","qos":"2","retain":"","broker":"28b582a7.1be806","x":586.5833358764648,"y":294.83334255218506,"wires":[]},{"id":"31089a76.3d9c4e","type":"debug","z":"b3b9e502.ed87e8","name":"","active":false,"console":"false","complete":"false","x":358.91668701171875,"y":329.3333740234375,"wires":[]},{"id":"50153077.66d4","type":"serial in","z":"b3b9e502.ed87e8","name":"","serial":"e0b8a754.deb9","x":112.25,"y":288.75,"wires":[["31089a76.3d9c4e","398d06db.00c24a","30fa256.5a51a5a","96cfc4db.0f5ec8","4e08f57e.188f84"]]},{"id":"57faab85.8507f4","type":"debug","z":"b3b9e502.ed87e8","name":"","active":false,"complete":"payload","x":643.7498779296875,"y":370.08331298828125,"wires":[]},{"id":"398d06db.00c24a","type":"function","z":"b3b9e502.ed87e8","name":"Retrieving raw GPS Data","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nvar RMC = msg.payload.split(',');\n\nmsg.payload = {d:{\n\t\"latitude\":parseFloat(RMC[0]),\n\t//\"N-S\":RMC[4],\n\t\"longitude\":parseFloat(RMC[1])\n\t//\"E-O\":RMC[6],\n}};\n\nreturn msg;\n\n//msg.payload = parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\"));","outputs":1,"noerr":0,"x":356.49999237060547,"y":294.2499990463257,"wires":[["4500e1fc.185d18","4742f513.659cbc","57faab85.8507f4"]]},{"id":"1a6ae64d.86d57a","type":"http in","z":"b3b9e502.ed87e8","name":"/gps","url":"/gps","method":"get","swaggerDoc":"","x":55,"y":641.7143216133118,"wires":[["4eb1b740.ab7128"]]},{"id":"827d244.58670d8","type":"function","z":"b3b9e502.ed87e8","name":"setHTTPheader","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"};\n\n// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"};\nreturn msg;","outputs":1,"noerr":0,"x":507.1428985595703,"y":823.9999375343323,"wires":[["eca7da9e.82fa88"]]},{"id":"d5a372c8.ad131","type":"debug","z":"b3b9e502.ed87e8","name":"","active":false,"console":"false","complete":"false","x":534.5714645385742,"y":765.2857050895691,"wires":[]},{"id":"ae7910c9.c03718","type":"debug","z":"b3b9e502.ed87e8","name":"","active":false,"console":"false","complete":"false","x":619.2500610351562,"y":563.7500066757202,"wires":[]},{"id":"4eb1b740.ab7128","type":"function","z":"b3b9e502.ed87e8","name":"Retrieving Gps Data","func":"var latitude1 = {payload: JSON.stringify(context.global.d.latitude)};\nvar longitude1 = {payload: JSON.stringify(context.global.d.longitude)};\n\nmsg.payload = {'d':\n                                {\n                                 'latitude':latitude1.payload,\n                                 'longitude':longitude1.payload\n                                }\n                   \n              };\n\nreturn msg;","outputs":1,"noerr":0,"x":216.57140350341797,"y":701.7142777442932,"wires":[["da06f6c5.f91788","bacc0417.236c88"]]},{"id":"da06f6c5.f91788","type":"debug","z":"b3b9e502.ed87e8","name":"","active":false,"console":"false","complete":"false","x":431.28572845458984,"y":702.8571352958679,"wires":[]},{"id":"f374809b.9c464","type":"function","z":"b3b9e502.ed87e8","name":"Gathering GPS Data","func":"var d = msg.payload.d;\n//context.flow.d = d; \ncontext.global.d = d;\nreturn msg;\n","outputs":1,"noerr":0,"x":411.75,"y":518.7500104904175,"wires":[["ae7910c9.c03718","9b72e045.e64e8","b33fb55b.7a3298","1b3bd35.f3e47ad","cad97028.eb8dc8","ceb44dcf.84d5f"]]},{"id":"16944bf6.af5cbc","type":"mqtt in","z":"b3b9e502.ed87e8","name":"MQTT-gps1","topic":"gps1","qos":"0","broker":"8ee4a8db.1fc21","x":89.91668701171875,"y":519.6399564743042,"wires":[["a9d47f77.24f2e8"]]},{"id":"a9d47f77.24f2e8","type":"json","z":"b3b9e502.ed87e8","name":"","x":224.58334350585938,"y":519.6399488449097,"wires":[["f374809b.9c464"]]},{"id":"4500e1fc.185d18","type":"mqtt out","z":"b3b9e502.ed87e8","name":"MQTT-gps1","topic":"gps1","qos":"0","retain":"","broker":"28b582a7.1be806","x":580.75,"y":248.75,"wires":[]},{"id":"bacc0417.236c88","type":"template","z":"b3b9e502.ed87e8","name":"my car here","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <title>Location</title>\n    <meta http-equiv=\"refresh\" content=\"10\" name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n     <meta charset=\"utf-8\">\n    <style>\n      /* Always set the map height explicitly to define the size of the div\n       * element that contains the map. */\n      #map {\n        height: 80%;\n      }\n      /* Optional: Makes the sample page fill the window. */\n      html, body {\n        height: 70%;\n        width: 70%;\n        margin: 2;\n        padding: 2;\n      }\n    </style>\n  </head>\n  <body>\n   \n    <h4>GPS Location: (Latitude: <strong>{{payload.d.latitude}}, Longitude: {{payload.d.longitude}})</strong></h4>\n    \n    <div id=\"map\"></div>\n    <script>\n      // Note: This example requires that you consent to location sharing when\n      // prompted by your browser. If you see the error \"The Geolocation service\n      // failed.\", it means you probably did not give permission for the browser to\n      // locate you.\n       function initMap() {\n        var map = new google.maps.Map(document.getElementById('map'), {\n          center: {lat: {{payload.d.latitude}}, lng: {{payload.d.longitude}}},\n          zoom: 16\n        });\n        var marker = new google.maps.Marker({\n            position: {lat: {{payload.d.latitude}}, lng: {{payload.d.longitude}}},\n            map: map\n        });\n         var infoWindow = new google.maps.InfoWindow({map: map});\n        \n        \n \n      }\n    </script>\n     <script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key=AIzaSyDniW1xUmRVBL1fcGIoI9SHprOTg7VePNA&callback=initMap\">\n    </script>\n  </body>\n</html>","x":360,"y":754.5,"wires":[["d5a372c8.ad131","827d244.58670d8"]]},{"id":"eca7da9e.82fa88","type":"http response","z":"b3b9e502.ed87e8","name":"","x":676.7143325805664,"y":824.0002341270447,"wires":[]},{"id":"30fa256.5a51a5a","type":"websocket out","z":"b3b9e502.ed87e8","name":"","server":"","client":"3128d2e7.608e9e","x":240.5555419921875,"y":382.22222900390625,"wires":[]},{"id":"fb5d74c5.3fb508","type":"mqtt in","z":"b3b9e502.ed87e8","name":"","topic":"connect","qos":"0","broker":"7069d0f5.9a9d78","x":84,"y":28,"wires":[["c12cc94e.5dd32","f6efc80c.9cf6d8","8795facc.39172"]]},{"id":"c12cc94e.5dd32","type":"function","z":"b3b9e502.ed87e8","name":"Retrieving raw GPS Data","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nvar RMC = msg.payload.split(',');\n\nmsg.payload = {d:{\n\t\"latitude\":parseFloat(RMC[0]),\n\t//\"N-S\":RMC[4],\n\t\"longitude\":parseFloat(RMC[1])\n\t//\"E-O\":RMC[6],\n}};\n\nreturn msg;\n\n//msg.payload = parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\"));","outputs":1,"noerr":0,"x":293.99993896484375,"y":26,"wires":[["b311be5f.695cc8","a28d015f.92ba9","5553ee08.02c198"]]},{"id":"b311be5f.695cc8","type":"mqtt out","z":"b3b9e502.ed87e8","name":"MQTT-gps2","topic":"gps2","qos":"0","retain":"","broker":"28b582a7.1be806","x":532,"y":20,"wires":[]},{"id":"a28d015f.92ba9","type":"mqtt out","z":"b3b9e502.ed87e8","name":"MQTT-gps2","topic":"gps2","qos":"2","retain":"","broker":"28b582a7.1be806","x":532,"y":55,"wires":[]},{"id":"5553ee08.02c198","type":"debug","z":"b3b9e502.ed87e8","name":"","active":false,"console":"false","complete":"false","x":686,"y":20,"wires":[]},{"id":"34444f72.573bc","type":"mqtt in","z":"b3b9e502.ed87e8","name":"MQTT-gps2","topic":"gps2","qos":"0","broker":"8ee4a8db.1fc21","x":76,"y":145,"wires":[["6d213326.9cd574"]]},{"id":"6d213326.9cd574","type":"json","z":"b3b9e502.ed87e8","name":"","x":237,"y":147,"wires":[["8a8045de.8181b"]]},{"id":"8a8045de.8181b","type":"function","z":"b3b9e502.ed87e8","name":"Gathering GPS Data","func":"var e = msg.payload.d;\n//context.flow.d = d; \ncontext.global.d = e;\nreturn msg;\n","outputs":1,"noerr":0,"x":423,"y":147,"wires":[["32b0b027.c7d0b8"]]},{"id":"32b0b027.c7d0b8","type":"debug","z":"b3b9e502.ed87e8","name":"","active":false,"console":"false","complete":"false","x":685.7777709960938,"y":142.22222900390625,"wires":[]},{"id":"f6efc80c.9cf6d8","type":"debug","z":"b3b9e502.ed87e8","name":"","active":false,"console":"false","complete":"false","x":286,"y":63,"wires":[]},{"id":"3fa098eb.80c61","type":"file","z":"b3b9e502.ed87e8","name":"","filename":"HistoryOfGPS","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1118,"y":253,"wires":[]},{"id":"4e08f57e.188f84","type":"function","z":"b3b9e502.ed87e8","name":"","func":"\nmsg.payload = new Date().toString();\nreturn msg;","outputs":1,"noerr":0,"x":862,"y":224.5,"wires":[["96cfc4db.0f5ec8"]]},{"id":"96cfc4db.0f5ec8","type":"join","z":"b3b9e502.ed87e8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","timeout":"","count":"2","x":1003,"y":163.5,"wires":[["3fa098eb.80c61"]]},{"id":"1b3bd35.f3e47ad","type":"ui_text","z":"b3b9e502.ed87e8","group":"c6bb3e6e.f34f98","order":"12","width":"","height":"","name":"GPS - Latitude:","label":"GPS - Lat:","format":"{{msg.payload.d.latitude}}","layout":"","x":669.7500610351562,"y":474.8333435058594,"wires":[]},{"id":"cad97028.eb8dc8","type":"ui_text","z":"b3b9e502.ed87e8","group":"c6bb3e6e.f34f98","order":"13","width":"","height":"","name":"GPS - Longitude:","label":"GPS - Long:","format":"{{msg.payload.d.longitude}}","layout":"","x":683.9166870117188,"y":514.6110534667969,"wires":[]},{"id":"9b72e045.e64e8","type":"ui_template","z":"b3b9e502.ed87e8","group":"c77a225b.db4e38","name":"","order":0,"width":0,"height":0,"format":"\n\n<form  action=\"http://127.0.0.1:1880/emergency\">\n\n</form>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":601,"y":652,"wires":[[]]},{"id":"b33fb55b.7a3298","type":"ui_template","z":"b3b9e502.ed87e8","group":"c77a225b.db4e38","name":"","order":0,"width":0,"height":0,"format":"\n\n<form  action=\"http://127.0.0.1:1880/near\">\n\n</form>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":643,"y":692,"wires":[[]]},{"id":"ceb44dcf.84d5f","type":"ui_template","z":"b3b9e502.ed87e8","group":"c6bb3e6e.f34f98","name":"","order":0,"width":"0","height":"0","format":"<form  action=\"http://127.0.0.1:1880/gps\">\n<h5>Go to GPS map: <input type=\"submit\" value=\"click\"/> </h5>\n</form>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":724.2499389648438,"y":611.75,"wires":[[]]},{"id":"8795facc.39172","type":"ui_toast","z":"b3b9e502.ed87e8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":450,"y":107,"wires":[]},{"id":"28b582a7.1be806","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e0b8a754.deb9","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"8ee4a8db.1fc21","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3128d2e7.608e9e","type":"websocket-client","z":"","path":"ws://indiahacks.mybluemix.net/ws/gps1","wholemsg":"false"},{"id":"7069d0f5.9a9d78","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c6bb3e6e.f34f98","type":"ui_group","z":0,"name":"GPS","tab":"ca99c1d5.9d897","disp":true,"width":"6"},{"id":"c77a225b.db4e38","type":"ui_group","z":0,"name":"Vehicle","tab":"ca99c1d5.9d897","disp":true,"width":"5"},{"id":"ca99c1d5.9d897","type":"ui_tab","z":0,"name":"Home","icon":"dashboard"}]